<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Model System Recomendation
        </title>
    </head>
    <body>
        <h1>System Recomendation Prototype</h1>
        <input type="text" id="model" name="model"><br>
        <input type="range" class="form-control-range" id="rangeCost" value="" min="0" max="100000000" step="500000">
        
        <button type="button" id="searchEngine">Search</button>
        <div id="result_csv"></div>
    
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#searchEngine').click(function() {
                    $.ajax({
                        url: '/get_recomendation',
                        type: 'GET',
                        success: function(response) {
                            displayCsvTable(response.csv_data);
                        },
                        error: function(error) {
                            console.log('Error:', error);
                        }
                    });
                });
    
                function displayCsvTable(data) {
                    var tableHtml = '<table border="1"><tr>';
                    // Assuming the first row contains headers
                    for (var key in data[0]) {
                        tableHtml += '<th>' + key + '</th>';
                    }
                    tableHtml += '</tr>';
    
                    // Adding rows
                    for (var i = 0; i < data.length; i++) {
                        tableHtml += '<tr>';
                        for (var key in data[i]) {
                            tableHtml += '<td>' + data[i][key] + '</td>';
                        }
                        tableHtml += '</tr>';
                    }
    
                    tableHtml += '</table>';
                    $('#result_csv').html(tableHtml);
                }
            });
        </script>
    </body>
</html>